<h1>Entries</h1>
<%= link_to 'New Journal Entry', new_entry_path %> |
<%= link_to 'New Category', new_category_path %>

<% @entries.each do |entry| %>
  <div class="entry">
    <h3><%= entry.title %></h3>
      <%= entry.content %><br/>
      <span class="category">Categories:
        <% entry.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </span>
      <span class="created">Created at: <%= entry.created_at.strftime("%B %e, %Y") %></span>
      <div class="actions">
        <%= link_to 'Show', entry_path(entry) %> | <%= link_to 'Edit', edit_entry_path(entry) %> |
        <%= link_to 'Destroy', entry_path(entry), method: :delete %>
      </div>
  </div>
<% end %>
<div class="all_categories">
  <h3>All Categories</h>
  <ul>
    <% @categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul
</div>
